*{
    margin: 0;
    padding: 0;
}

.slider-aligned{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    overflow: hidden;
}

.slider{
    height: 90vh;
}

.slider-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

.slider-container{
    display: flex;
    height: 100%;
    transition: 1s ease-in;
    will-change: transform;
}

.slider-element{
    width: 100%;
    width: 100%;
    flex-shrink: 0;
}

.slider-element img{
    width: 400px;
    height: 100%;
    object-fit: cover;
}

.owl-nav{

  
}